.heading {
  text-align: center;
  margin-bottom: 20px;
}
.buttonContainer {
  display: flex;
  justify-content: center; /* center horizontally */
  gap: 15px; /* spacing between buttons */
  margin: 20px 0;
}

.buttonContainer button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1.5px solid #1e293b;
  background-color: white;
  color: #1e293b;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #1e293b;
  color: white;
}
